extends layout

block content
  div(data-stork-product=1337)
  script(type='text/javascript')
    (function () {
        var script = document.createElement('script');

        script.src = 'http://www.camerastork.com/javascripts/widget.js'
        script.async = true;

        var entry = document.getElementsByTagName('script')[0];

        entry.parentNode.insertBefore(script, entry);
    })();
