extends layout

block content
  h1= title
  p Welcome to #{title}
  script(type='text/javascript')
    (function () {
        var script = document.createElement('script');

        script.src = 'http://www.camerastork.com/javascripts/widget.js?product=1234'
        script.async = true;

        var entry = document.getElementsByTagName('script')[0];

        entry.parentNode.insertBefore(script, entry);
    })();
